In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from glob import glob
import os

In [2]:
# Load target data
home_prices = pd.read_csv('raw_data/zillow/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv')

In [3]:
home_prices.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1996-01-31,...,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28
0,61639,0,10025,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,232527.0,...,1124579.0,1119261.0,1114733.0,1112570.0,1113554.0,1108906.0,1104331.0,1098915.0,1089614.0,1090168.0
1,84654,1,60657,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,208780.0,...,488778.0,489319.0,490664.0,492714.0,495483.0,498200.0,500780.0,503294.0,505577.0,508007.0
2,61637,2,10023,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,184917.0,...,913735.0,916274.0,916593.0,920113.0,931353.0,934916.0,934687.0,930893.0,934775.0,945772.0
3,91982,3,77494,Zip,TX,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,199929.0,...,336901.0,337728.0,338452.0,339876.0,341435.0,343897.0,346910.0,351188.0,355336.0,360190.0
4,84616,4,60614,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,281068.0,...,629766.0,629807.0,630985.0,632529.0,635442.0,638288.0,641416.0,644506.0,647307.0,650905.0

In [15]:
listing_files = glob('raw_data/airbnb/listings/*.csv.gz')
listing_files

['raw_data/airbnb/listings\\listings_10_15.csv.gz',
 'raw_data/airbnb/listings\\listings_10_18.csv.gz',
 'raw_data/airbnb/listings\\listings_10_19.csv.gz',
 'raw_data/airbnb/listings\\listings_10_20.csv.gz',
 'raw_data/airbnb/listings\\listings_11_18.csv.gz',
 'raw_data/airbnb/listings\\listings_11_19.csv.gz',
 'raw_data/airbnb/listings\\listings_11_20.csv.gz',
 'raw_data/airbnb/listings\\listings_12_18.csv.gz',
 'raw_data/airbnb/listings\\listings_12_19.csv.gz',
 'raw_data/airbnb/listings\\listings_12_20.csv.gz',
 'raw_data/airbnb/listings\\listings_1_19.csv.gz',
 'raw_data/airbnb/listings\\listings_1_20.csv.gz',
 'raw_data/airbnb/listings\\listings_1_21.csv.gz',
 'raw_data/airbnb/listings\\listings_2_19.csv.gz',
 'raw_data/airbnb/listings\\listings_2_20.csv.gz',
 'raw_data/airbnb/listings\\listings_2_21.csv.gz',
 'raw_data/airbnb/listings\\listings_3_19.csv.gz',
 'raw_data/airbnb/listings\\listings_3_20.csv.gz',
 'raw_data/airbnb/listings\\listings_4_18.csv.gz',
 'raw_data/airbnb/listings\\listings_4_19.csv.gz',
 'raw_data/airbnb/listings\\listings_4_20.csv.gz',
 'raw_data/airbnb/listings\\listings_5_18.csv.gz',
 'raw_data/airbnb/listings\\listings_5_19.csv.gz',
 'raw_data/airbnb/listings\\listings_5_20.csv.gz',
 'raw_data/airbnb/listings\\listings_6_15.csv.gz',
 'raw_data/airbnb/listings\\listings_6_19.csv.gz',
 'raw_data/airbnb/listings\\listings_6_20.csv.gz',
 'raw_data/airbnb/listings\\listings_7_18.csv.gz',
 'raw_data/airbnb/listings\\listings_7_19.csv.gz',
 'raw_data/airbnb/listings\\listings_7_20.csv.gz',
 'raw_data/airbnb/listings\\listings_8_18.csv.gz',
 'raw_data/airbnb/listings\\listings_8_19.csv.gz',
 'raw_data/airbnb/listings\\listings_8_20.csv.gz',
 'raw_data/airbnb/listings\\listings_9_16.csv.gz',
 'raw_data/airbnb/listings\\listings_9_17.csv.gz',
 'raw_data/airbnb/listings\\listings_9_18.csv.gz',
 'raw_data/airbnb/listings\\listings_9_19.csv.gz',
 'raw_data/airbnb/listings\\listings_9_20.csv.gz']

In [26]:
listing_files_dict = {}
for filename in listing_files:
    clean_filename = os.path.basename(filename).replace('.csv', '').replace('.','_').replace('gz','df')
    filename_df = pd.read_csv(filename, index_col = 0)
    listing_files_dict[clean_filename] = filename_df

In [ ]:
for key, data in listing_files_dict.items():
    new_df = pd.DataFrame.from_dict(data)

In [27]:
listing_files_dict.keys()

dict_keys(['listings_10_15_df', 'listings_10_18_df', 'listings_10_19_df', 'listings_10_20_df', 'listings_11_18_df', 'listings_11_19_df', 'listings_11_20_df', 'listings_12_18_df', 'listings_12_19_df', 'listings_12_20_df', 'listings_1_19_df', 'listings_1_20_df', 'listings_1_21_df', 'listings_2_19_df', 'listings_2_20_df', 'listings_2_21_df', 'listings_3_19_df', 'listings_3_20_df', 'listings_4_18_df', 'listings_4_19_df', 'listings_4_20_df', 'listings_5_18_df', 'listings_5_19_df', 'listings_5_20_df', 'listings_6_15_df', 'listings_6_19_df', 'listings_6_20_df', 'listings_7_18_df', 'listings_7_19_df', 'listings_7_20_df', 'listings_8_18_df', 'listings_8_19_df', 'listings_8_20_df', 'listings_9_16_df', 'listings_9_17_df', 'listings_9_18_df', 'listings_9_19_df', 'listings_9_20_df'])

In [28]:
listings_10_15_df = listing_files_dict['listings_10_15_df']
listings_10_18_df = listing_files_dict['listings_10_18_df']
listings_10_15_df = listing_files_dict['listings_10_15_df']
listings_10_15_df = listing_files_dict['listings_10_15_df']
listings_10_15_df = listing_files_dict['listings_10_15_df']
listings_10_15_df = listing_files_dict['listings_10_15_df']
listings_10_15_df = listing_files_dict['listings_10_15_df']
listings_10_15_df = listing_files_dict['listings_10_15_df']
listings_10_15_df = listing_files_dict['listings_10_15_df']
listings_10_15_df = listing_files_dict['listings_10_15_df']
listings_10_15_df = listing_files_dict['listings_10_15_df']
listings_10_15_df = listing_files_dict['listings_10_15_df']
listings_10_15_df = listing_files_dict['listings_10_15_df']

NameError: name 'listings_10_15_df' is not defined

In [ ]:
new_name = listing_files_dict[key]

In [25]:
for key in listing_files_dict.keys(): 
    df_name = str(key)

TypeError: 'str' object does not support item assignment

In [4]:
listings_df = pd.read_csv('raw_data/airbnb/listings_2_21.csv.gz', compression='gzip')

In [5]:
listings_df.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6422,https://www.airbnb.com/rooms/6422,20210219004252,2021-02-20,Nashville Charm,30 day or more rental during COVID. Show COVID...,Historic East Nashville is home to many new an...,https://a0.muscache.com/pictures/pro_photo_too...,12172,https://www.airbnb.com/users/show/12172,...,10.0,10.0,10.0,NaN,f,1,0,1,0,4.69
1,25613,https://www.airbnb.com/rooms/25613,20210219004252,2021-02-20,Room in Historic East Nashville Craftsman Home,Serve up some sweet sounds on the piano and wi...,This home is in a walkable neighborhood with i...,https://a0.muscache.com/pictures/60aa90fe-1b3f...,95811,https://www.airbnb.com/users/show/95811,...,10.0,10.0,10.0,NaN,t,1,0,1,0,3.87
2,136015,https://www.airbnb.com/rooms/136015,20210219004252,2021-02-20,Apart. on the Ridge near Opryland,Fantastic View! Overlooks farms and is on the ...,Dead end street with great neighbors!,https://a0.muscache.com/pictures/2739438/005be...,666322,https://www.airbnb.com/users/show/666322,...,10.0,10.0,10.0,NaN,f,2,2,0,0,0.43
3,258817,https://www.airbnb.com/rooms/258817,20210219004252,2021-02-20,ButterflyRoom-private bath- open Jan 26,Morningstar House! Extended stay - 3+ months- ...,"I'm very near the Percy Priest Lake, natural ...",https://a0.muscache.com/pictures/eef19bc4-2743...,22296,https://www.airbnb.com/users/show/22296,...,10.0,9.0,9.0,NaN,f,7,0,6,1,0.86
4,289242,https://www.airbnb.com/rooms/289242,20210219004252,2021-02-20,"MorningstarHouse, monthly room- open Feb 2",Morningstar House! Extended stay - price reduc...,The Morningstar House is in a quiet cul-de-sac...,https://a0.muscache.com/pictures/40a7ab72-20f7...,22296,https://www.airbnb.com/users/show/22296,...,9.0,9.0,9.0,NaN,f,7,0,6,1,0.68

In [6]:
listings_df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [13]:
listings_df['neighbourhood_cleansed'].value_counts()

District 19    1413
District 17     807
District 5      574
District 21     558
District 6      478
District 15     279
District 18     251
District 7      230
District 20     154
District 24     146
District 2      136
District 16     122
District 8      119
District 26      97
District 13      77
District 25      73
District 14      71
District 12      66
District 3       51
District 1       48
District 29      43
District 23      38
District 30      36
District 35      33
District 10      32
District 4       28
District 22      28
District 27      27
District 11      26
District 32      21
District 33      20
District 9       17
District 28      15
District 34      15
District 31      15
Name: neighbourhood_cleansed, dtype: int64

In [7]:
reviews_df = pd.read_csv('raw_data/airbnb/reviews_2_21.csv.gz', compression='gzip')
reviews_df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,6422,1927,2009-04-30,14100,Melissa,I can't say enough about how wonderful it was ...
1,6422,3867,2009-06-11,17413,Raquel,Michelle and Collier's home is wonderful! They...
2,6422,4159,2009-06-17,20253,Ulrike,I spent one night at Michele's home and felt j...
3,6422,5724,2009-07-18,22544,Phil,Michele and Collier are two of the loveliest p...
4,6422,11891,2009-09-29,33409,Claire,We had the most lovely time staying with Miche...

In [8]:
reviews_df

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,6422,1927,2009-04-30,14100,Melissa,I can't say enough about how wonderful it was ...
1,6422,3867,2009-06-11,17413,Raquel,Michelle and Collier's home is wonderful! They...
2,6422,4159,2009-06-17,20253,Ulrike,I spent one night at Michele's home and felt j...
3,6422,5724,2009-07-18,22544,Phil,Michele and Collier are two of the loveliest p...
4,6422,11891,2009-09-29,33409,Claire,We had the most lovely time staying with Miche...
...,...,...,...,...,...,...
332595,48095829,731963419,2021-02-16,376650335,Nathaniel,Very cute
332596,48095943,731999187,2021-02-16,43224485,Brody,The property is not safe. Not only did 2 of th...
332597,48108210,731238971,2021-02-14,125188375,Rachel,Host was extremely sweet and replied almost in...
332598,48130048,731602541,2021-02-15,383674106,Gage,"good spot, clean rooms, kind staff"
332599,48136504,731211414,2021-02-14,368441034,Nick,House was great as advertised. Tony was super ...

In [9]:
calendar_df = pd.read_csv('raw_data/airbnb/calendar_2_21.csv.gz', compression='gzip')
calendar_df.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,6422,2021-02-20,f,$40.00,$40.00,30.0,365.0
1,6422,2021-02-21,f,$40.00,$40.00,30.0,365.0
2,6422,2021-02-22,f,$40.00,$40.00,30.0,365.0
3,6422,2021-02-23,f,$40.00,$40.00,30.0,365.0
4,6422,2021-02-24,f,$40.00,$40.00,30.0,365.0

In [10]:
calendar_df

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,6422,2021-02-20,f,$40.00,$40.00,30.0,365.0
1,6422,2021-02-21,f,$40.00,$40.00,30.0,365.0
2,6422,2021-02-22,f,$40.00,$40.00,30.0,365.0
3,6422,2021-02-23,f,$40.00,$40.00,30.0,365.0
4,6422,2021-02-24,f,$40.00,$40.00,30.0,365.0
...,...,...,...,...,...,...,...
2242777,48107192,2022-02-16,t,$32.00,$32.00,90.0,365.0
2242778,48107192,2022-02-17,t,$32.00,$32.00,90.0,365.0
2242779,48107192,2022-02-18,t,$32.00,$32.00,90.0,365.0
2242780,48107192,2022-02-19,t,$32.00,$32.00,90.0,365.0
2242781,48107192,2022-02-20,t,$32.00,$32.00,90.0,365.0